[user]
	email = nwkj86@gmail.com
	name = Artur Drozd
[push]
  default = current
[color]
	ui = auto
[review "review.cyanogenmod.org"]
	username = nwkj86
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
  tree = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative
  co = checkout
  br = branch
  obsolete = "!f(){ git branch $1 -m obsolete/$1; }; f"
  review = "!f(){ ~/Skrypty/git_review.sh \"$@\"; }; f"
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	precomposeUnicode = true
	quotePath = false
