[user]
	email = nwkj86@gmail.com
	name = Artur Drozd
[push]
	default = simple
[color]
	ui = auto
[review "review.cyanogenmod.org"]
	username = nwkj86
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
  tree = log --oneline --graph --abbrev --decorate
  co = checkout
  br = branch

