URxvt.depth: 24
URxvt.buffered: true
URxvt.background: black
URxvt.foreground: white
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.perl-ext-common: selection-to-clipboard,option-popup,resize-font
URxvt.title: urxvt-terminal

!URxvt.font: -*-clean-medium-r-*-16-*-*-*-*-*-*-*
!URxvt.font: xft:Inconsolata-g:style=g:pixelsize=12:antialias=true:hinting=true
!URxvt.font: xft:DejavuSansMono:pixelsize=10
!URxvt*font: xft:Inconsolata:size=14:antialias=true:hinting=true
URxvt.font: xft:Source Code Pro:size=10:antialias=true:hinting=false
URxvt.boldFont: xft:Source Code Pro:size=10:antialias=true:hinting=false
URxvt.italicFont: xft:Source Code Pro:style=Oblique:size=10:antialias=true:hinting=false
URxvt.boldItalicFont: xft:Source Code Pro:style=Bold Oblique:size=10:antialias=true:hinting=false
URxvt.letterSpace: -2


XTerm.vt100.foreground: white
XTerm.vt100.background: black
!XTerm.vt100.faceName: Inconsolata-g:style=g:pixelsize=14
XTerm.vt100.faceName: Source\ Code\ Pro:size=10

!Xft.dpi: 144
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

